/* Beispiel für die Einbindung zusätzlicher Schriftarten via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');


/* Beispiel für die einfache Einbindung eines Farbschema, generiert auf coolors.co */
:root {
    --turquoise-green: #b9e3c6ff;
    --ocean-green: #59c9a5ff;
    --ruby: #d81e5bff;
    --prussian-blue: #23395bff;
    --canary: #fffd98ff;
    --snow: #f7f2f4ff;
    --jet: #343434ff;

    --base-dark: #277A8C;
    --base-color: #41cad9;
    --base-light: #4bf2f2;

    --background-gray: #262626;
    --background-black: #0d0d0d;
    --background-light: #f5f4f0;

    --element-width: 100%;

    --notification-error: #940c00;
    --notification-success: #09db56;
}

.attachment-full {
    position: fixed;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--background-gray);
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

/* non-specific attributes */
.border {
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    border-color: var(--base-dark);
}

.round-button {
    font-weight: bold;
    text-align: center;

    margin: 0 20px;
    width: 3vw;
    height: 3vh;

    background-color: var(--base-dark);
    color: var(--snow);

    border-style: solid;
    border-radius: 10px;
    border-color: var(--base-dark);

    cursor: pointer;
}

.round-button img {
    width: 100%;
    height: 100%;
}

.round-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateX(2px);
  }

/* navbar with dropdown menu: code from https://www.w3schools.com/howto/howto_js_dropdown_sidenav.asp */
.collabs-logo-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: white;

    width: 100%;
    padding: .25em;
}

.collabs-name {
    font-weight: bold;
    color: black;
    width: 50%;
    padding-top: 0.6vw;
    cursor:default;
}

.collabs-logo {
    width: 50%;
    margin: .25em .5em;
}

.dropdown-menu {
    align-self: flex-start;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 8vw;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;

    
    filter: drop-shadow(8px 8px 10px black);
    background: linear-gradient(to top right, rgb(78, 78, 78) 0%,var(--base-dark) 20%,var(--background-gray) 70%);
    overflow: hidden;
    padding: 5px;
    border-right: solid;
    border-color: var(--base-dark);
}

.dropdown-menu span, .dropdown-button, .dropdown-list {
    padding: 0.5vw 1vw 0.5vw 0.5vw;
    text-decoration: underline;
    font-size: medium;
    color: #e8e5e5;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-menu span:active {
    transform: translateY(2px);
}

.dropdown-menu:hover {
    color: #f1f1f1;
}

.login-button {
    display: none;
}

/* Add an active class to the active dropdown button */
.active {
    color: var(--snow);
    background-color: var(--base-color);
}

/* .dropdown-list is not visible when loading the dropdown menu */
.dropdown-list {
    display: none;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* parent div container for frame list, screenshot, comment list and ui elements*/
.container {
    align-self: center;
    align-content: center;

    display: flex;
    flex-direction: column;

    width: 80vw;
    margin: 2vh 0;

    background-color: var(--background-gray);
}

/* frame list */
.frame-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: solid;
    border-color: var(--base-dark);
}

.frame-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 78vw;
    height: 10em;
    margin: 1em;

    overflow: scroll;
    overflow-y: hidden;
}

/* website screenshot*/
.screenshot-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height is calculated in a way, that the screenshot is roughly drawn in a 16:9 ratio */

}

.website-picture {
    flex: 5;
    align-self: flex-start;
    margin-left: 2%;
    margin-top: 2%;

    height: calc(80vw * 0.56 * 0.8);
    width: calc(80vw * 0.8);

}

.screenshot, .canvas {
    height: calc(80vw * 0.56 * 0.8);
    width: calc(80vw * 0.8);
    position: absolute;
}

/* comments */
.comment-section {
    flex: 1;
    align-self: center;

    display: flex;
    flex-flow: column;

    padding: 10px;


    width: 10vw;
    height: calc(80vw * 0.56 * 0.8);

    background-color: var(--background-gray);
}

.discussion {
    align-self: center;

    display: flex;

    max-height: calc((80vw * 0.56 * 0.8) - 2em);
    width: 100%;
    padding: 2px;

    overflow: scroll;
    overflow-x: hidden;
}

.comment-controls {
    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 2px;
    width: 12vw;
    height: 2.2em;
    margin: .2em;

    border-color: var(--base-light);

    border-style: solid;
}

.input-comment {
    align-self: baseline;

    height: 2em;
    width: 6vw;

    vertical-align: bottom;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 4vw;

    height: 100%;
}

.button-tool {
    align-self: baseline;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    width: 45%;
    height: 2em;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    color: #36395A;
    cursor: pointer;
    line-height: 1;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.button-tool:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-tool:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

/* add screenshot navbar */
.upload-img {
    display: flex;
    flex-direction: row;

    padding: 10px;
    height: 5vh;

    border-bottom: solid;
    border-color: var(--base-dark);
}

.button-container {
    display: flex;
    flex-direction: row;
    width: 14vw;
}

.input-container {
    display: flex;
    flex-direction: row;
}

.input-label-container {
    justify-content: center;
}

.input-label {
    color: var(--snow);
    width: 10vw;
}

.url-in {
    height: 2vh;
    width: 10vw;
}

.project-name {
    font-weight: bold;
    text-align: center;
    font-size: x-large;

    margin: 0 0.5vw;
    height: 100%;
    width: 80%;

    color: var(--snow);
}

/* comment template */
.text-field {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 4px;
    padding: 2px;
    width: 95%;

    background-color: var(--base-dark);
    color: var(--snow);
}

.comment-header {
    display: flex;
    flex-direction: column;

    font-size: medium;
    font-weight: bold;

    margin: 4px;
    padding: 1px;

    background-color: var(--background-gray);
}

.message {
    font-size: medium;
    word-break: break-all;

    margin: 4px;
}

.user-interactions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: medium;
    text-align: center;

    height: 100%;
    margin: 4px;

    color: var(--snow);
    background-color: var(--background-gray);
}

.user-interactions button {
    font-size: medium;
    color: var(--snow);

    margin: .1em;

    background-color: var(--background-gray);
    border-style: solid;
    border-color: var(--background-gray);

}

.user-interactions span {
    margin: .25em;
}
.comment-content {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 1px;
}

.comment-indented {
    margin-left: 50px;
    width: 80%;
}

/* frame list item template*/
.frame-list-item {
    display: block;
    flex-direction: column;

    float: left;
    align-self: center;
    text-align: center;
    color: var(--snow);

    width: 10em;
    height: calc(10em * 0.56 + 2em);
    margin: 2px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.frame-description {
    align-content: center;
    width: 100%;
}
.frame-img {
    display: block;
    align-self: center;
    width: 10em;
    height: calc(10em * 0.56);
}

/* home screen template */
.container-home {
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 70vw;
    height: 90vh;
    margin: 2vh 0;


    color: var(--snow);
}

.project-key-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    width: 80%;
    padding: 2vh 2vw;
    margin-top: 10vh;

    align-self: center;
}

.enter-project-key {
    align-self: center;

    width: 100%;
    margin-top: 2vh;
}

.container-home label {
    align-self: center;

    font-size: x-large;
}

/* project list item template */
.project-list-item-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;

    height: 5em;
    margin: 1em 2em;
    padding: 1em;

    font-size: x-large;
    font-weight: bold;
    text-align: justify;

    background-color: var(--base-dark);
    color: var(--snow);

    border: solid;
    border-color: var(--base-dark);

    border-right: solid;
    border-right-color: var(--snow);
}

.project-title {
    align-content: flex-start;

    width: 80%;
    height: 7em;
    padding: 1em;
}

.project-preview-picture {
    align-content: center;

    height: 5em;
}

/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--base-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--base-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--base-dark);
}

/* spinner animation from https://loading.io/css/ */
.lds-dual-ring {
    display: inline-block;
    width: 1px;
    height: 1px;
}

.lds-dual-ring:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  