/* Beispiel für die Einbindung zusätzlicher Schriftarten via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');


/* Beispiel für die einfache Einbindung eines Farbschema, generiert auf coolors.co */
:root {
    --turquoise-green: #b9e3c6ff;
    --ocean-green: #59c9a5ff;
    --ruby: #d81e5bff;
    --prussian-blue: #23395bff;
    --canary: #fffd98ff;
    --snow: #f7f2f4ff;
    --jet: #343434ff;

    --base-dark: #277A8C;
    --base-color: #41cad9;
    --base-light: #4bf2f2;

    --background-gray: #262626;
    --background-black: #0d0d0d;
    --background-light: #f5f4f0;

    --element-width: 100%
}

.attachment-full {
    position: fixed;
    top: 0;
    left: 0;
}

.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--background-gray);
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

/* non-specific attributes */
.border {
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    border-color: var(--base-dark);
}

.round-button {
    font-weight: bold;
    text-align: center;

    margin: 0 20px;
    width: 100%;

    background-color: var(--base-dark);
    color: var(--snow);

    border-style: solid;
    border-radius: 10px;
    border-color: var(--base-dark);
}

/* navbar with dropdown menu: code from https://www.w3schools.com/howto/howto_js_dropdown_sidenav.asp */
.collabs-logo-container {
    display: flex;
    flex-direction: row;
    align-content: center;

    width: 100%;
    padding: .25em;
}

.collabs-name {
    font-weight: bold;
    width: 50%;
}

.collabs-logo {
    width: 50%;
    margin: .25em .5em;
}

.dropdown-menu {
    align-self: flex-start;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 8vw;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;

    background-color: var(--background-gray);
    overflow: hidden;
    padding: 5px;
    border-right: solid;
    border-color: var(--base-dark);
}

.dropdown-menu span, .dropdown-button, .dropdown-list {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: medium;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-menu:hover {
    color: #f1f1f1;
}

.login-button {
    display: none;
}

/* Add an active class to the active dropdown button */
.active {
    color: var(--snow);
    background-color: var(--base-color);
}

/* .dropdown-list is not visible when loading the dropdown menu */
.dropdown-list {
    display: none;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* parent div container for frame list, screenshot, comment list and ui elements*/
.container {
    align-self: center;
    align-content: center;

    display: flex;
    flex-direction: column;

    width: 80vw;
    margin: 2vh 0;

    background-color: var(--background-gray);
}

/* frame list */
.frame-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: solid;
    border-color: var(--base-dark);
}

.frame-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 78vw;
    height: 10em;
    margin: 1em;

    overflow: scroll;
    overflow-y: hidden;
}

/* website screenshot*/
.screenshot-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height is calculated in a way, that the screenshot is roughly drawn in a 16:9 ratio */

}

.website-picture {
    flex: 5;
    align-self: flex-start;
    margin-left: 2%;
    margin-top: 2%;

    height: calc(80vw * 0.56 * 0.8);
    width: calc(80vw * 0.8);

}

.screenshot, .canvas {
    height: calc(80vw * 0.56 * 0.8);
    width: calc(80vw * 0.8);
    position: absolute;
}

/* comments */
.comment-section {
    flex: 1;
    align-self: center;

    display: flex;
    flex-flow: column;

    padding: 10px;


    width: 10vw;
    height: calc(80vw * 0.56 * 0.8);

    background-color: var(--background-gray);
}

.discussion {
    align-self: center;

    display: flex;

    max-height: calc((80vw * 0.56 * 0.8) - 2em);
    width: 100%;
    padding: 2px;

    overflow: scroll;
    overflow-x: hidden;
}

.comment-controls {
    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 2px;
    width: 100%;

    background-color: var(--base-light);
    border-color: var(--base-light);

    border-style: solid;
}

.input-comment {
    align-self: baseline;

    width: 9em;
    height: 2em;
    margin-right: 1em;

    vertical-align: bottom;
}

.submit {
    display: inline-block;
    align-self: baseline;

    font-weight: bold;
    text-align: center;

    height: 2em;
    width: 4em;
    padding: 1px;

    color: var(--snow);
    background-color: var(--base-dark);

    border-radius: 25px;
}

/* add screenshot navbar */
.upload-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px;

    border-bottom: solid;
    border-color: var(--base-dark);
}

.input-url {
    align-self: flex-start;

    width: 30vw;
}

.upload-img-button {
    align-self: flex-end;

    text-align: center;
}

/* comment template */
.text-field {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 4px;
    padding: 2px;
    width: 9.5em;

    background-color: var(--base-dark);
    color: var(--snow);
}

.comment-header {
    display: flex;
    flex-direction: column;

    width: 9em;
    font-size: medium;
    font-weight: bold;

    margin: 4px;
    padding: 1px;

    background-color: var(--background-gray);
}

.message {
    font-size: medium;
    word-break: break-all;

    width: 9em;
    margin: 4px;
}

.user-interactions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    text-align: center;

    width: 9em;
    height: 100%;
    margin: 4px;

    color: var(--snow);
    background-color: var(--background-gray);
}

.user-interactions button {
    font-size: medium;
    color: var(--snow);

    margin: .1em;

    background-color: var(--background-gray);
    border-style: solid;
    border-color: var(--background-gray);

}

.user-interactions span {
    margin: .25em;
}
.comment-content {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 1px;
}

.comment-indented {
    margin-left: 50px;
    width: 80%;
}

/* frame list item template*/
.frame-list-item {
    display: block;
    flex-direction: column;

    float: left;
    align-self: center;
    text-align: center;
    color: var(--snow);

    width: 10em;
    height: calc(10em * 0.56 + 2em);
    margin: 2px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.frame-description {
    align-content: center;
    width: 90%;
}
.delete-button {
    align-content: center;
    width: 10%;
    background-color: var(--ruby);
}

.frame-img {
    display: block;
    align-self: center;
    width: 10em;
    height: calc(10em * 0.56);
}

/* home screen template */
.container-home {
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 70vw;
    height: 90vh;
    margin: 2vh 0;


    color: var(--snow);
}

.project-key-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    width: 80%;
    padding: 2vh 2vw;
    margin-top: 10vh;

    align-self: center;
}

.enter-project-key {
    align-self: center;

    width: 100%;
    margin-top: 2vh;
}

.container-home label {
    align-self: center;

    font-size: x-large;
}

/* project list item template */
.project-list-item-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;

    height: 5em;
    margin: 1em 2em;
    padding: 1em;

    font-size: x-large;
    font-weight: bold;
    text-align: justify;

    background-color: var(--base-dark);
    color: var(--snow);

    border: solid;
    border-color: var(--base-dark);

    border-right: solid;
    border-right-color: var(--snow);
}

.project-title {
    align-content: flex-start;

    width: 80%;
    height: 7em;
    padding: 1em;
}

.project-preview-picture {
    align-content: center;

    height: 5em;
}

/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--base-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--base-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--base-dark);
}